footer{
    width: 100%;
    height: 200px;
    font-size: 16px;
    background-color: #F5F2F0;
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        .links{
            width: 970px;
            display: flex;
            justify-content: space-between;
            .link__item{
                a{
                    text-decoration: none;
                    color: #8A7861;
                    font-size: 1em;
                }
            }

        }
        .socials{
            margin-top: 40px;
            display: flex;
            width: 170px;
            justify-content: space-between;
        }
        .copyright{
            margin-top: 3px;
            font-size: 16px;
            color: #8A7861;
            font-weight: normal;
        }
    }
}


@media screen and (max-width: 1020px) {
    footer{
        padding-bottom: 30px;
        background-color: #F5F2F0;
        height: min-content;
    }
    .links{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        .link__item{
            margin-bottom: 10px;
            font-size: 0.9em;
        }
    }
}