.wrapper{
    width: 100%;
    min-height: calc(100vh - 270px);
    display: flex;
    justify-content: center;
    font-size: 20px;
    .content{
        width: 1170px;
        .admin__title{
            font-size: 1.1em;
            font-weight: bold;
            margin-top: 35px;
        }
        .articles{
            width: 100%;
            .article{
                margin-top: 15px;
                margin-bottom: 15px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                a:has(.banner){
                    height: auto;
                }
                img.banner{
                    width: 270px;
                    height: 160px;
                    border-radius: 12px;
                    object-fit:cover;
                }
                .info{
                    width: 470px;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    .adress{
                        font-size: 0.9em;
                        font-weight: bold;
                        white-space: pre-wrap;                
                        word-wrap: normal;                  
                        word-break: keep-all;
                        white-space: normal;
                    }
                    .description{
                        margin-top: 14px;
                        font-size: 0.7em;
                        white-space: -moz-pre-wrap !important;  
                        white-space: -webkit-pre-wrap;    
                        white-space: -pre-wrap;            
                        white-space: -o-pre-wrap;            
                        white-space: pre-wrap;                
                        word-wrap: break-word;                  
                        word-break: break-all;
                        white-space: normal;
                    }
                    .users{
                        display: flex;
                        justify-self: flex-end;
                        margin-top: auto;
                        .offer__user{
                            display: flex;
                            align-items: center;
                            width: 200px;
                            .username{
                                font-size: 0.9em;
                            }
                            .phone{
                                color: #8A7861;
                                font-size: 0.7em;
                            }
                            img{
                                margin-right: 10px;
                            }
                        }
                        .request__user{
                            display: flex;
                            align-items: center;
                            .username{
                                font-size: 0.9em;
                            }
                            .phone{
                                color: #8A7861;
                                font-size: 0.7em;
                            }
                            img{
                                margin-right: 10px;
                            }
                        }
                    }
                    
                }
                .admin__buttons{
                    width: 370px;
                    height: auto;
                    .buttons{
                        display: flex;
                        justify-content: space-between;
                        .accept{
                            font-size: 1em;
                            width: 170px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #80F20D;
                            border-radius: 12px;
                        }
                        .accept:hover{
                            cursor: pointer;
                        }
                        .denie{
                            font-size: 1em;
                            width: 170px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #F2360D;
                            border-radius: 12px;
                        }
                        .denie:hover{
                            cursor: pointer;
                        }
                    }
                    .comment__title{
                        margin-top: 5px;
                        font-size: 0.8em;
                    }
                    .comment{
                        width: 100%;
                        height: 79px;
                        border: none;
                        padding: 5px;
                        font-size: 0.7em;
                        border-radius: 12px;
                        background-color: #F5F2F0;
                        resize: none;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .admin__title{
        text-align: center;
    }
    .articles{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
    }
    .article{
        width: min-content !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px !important;
        a{
            min-width: 100%;
            
        }
        img.banner{
            min-width: 100%;
        }
        .admin__buttons{
            min-width: 100%;
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 800px) {
    .content{
        width: 80vw !important;
        font-size: 16px;
        .article{
            width: 100% !important;
            .info{
                width: 100% !important;
            } 
            .admin__buttons{
                width: 100% !important;
                .accept{
                    width: 120px !important;
                }
                .denie{
                    width: 120px !important;
                }
            }
        }
    }
}